body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    color: black;
    padding: 15px 0;
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-color 0.3 ease;
}
.container {
    max-width: 960px; 
    margin: 0 auto; 
    padding: 0 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo {
    font-size: 24px;
    text-decoration: none; 
    color: black;
    font-weight: bold;
    font-weight: bold; 
    margin-right: auto;
}
nav {
    flex-grow: 1;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px; 
    transition: transform 0.3s ease;
}
nav ul li a {
    color: black; 
    text-decoration: none; 
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
}

.cta-button {
    background-color: black;
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition:background-color 0.4s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: black; 
    transform: scale(1.05);
}